@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.scss';
@import 'admin-lte/dist/css/adminlte.css';
@import './chat.css';


body {
    font-family: 'Noto Sans', sans-serif;
}
.ribbon-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.ribbon {
    position: absolute;
    top: 10px;
    right: -30px;
    width: 120px;
    text-align: center;
    transform: rotate(45deg);
    padding: 5px 0;
    color: #fff;
    font-size: 12px;
    line-height: 1.5;
    z-index: 10;
}

/* رنگ‌های مختلف برای ribbon */
.bg-warning .ribbon {
    background-color: #ffc107;
}

.card-img-top {
    position: relative;
    overflow: hidden;
}

.card-img-top img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
}

.card-hover-effect {
    transition: box-shadow 0.3s ease-in-out;
}

.card-hover-effect:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-not-approved {
    opacity: 0.8;
}
.card-not-approved:hover {
    opacity: 1;
}

.notification-item {
    padding: 10px 15px;
    white-space: normal;
    word-break: break-word;
}

/* استایل برای لیست جستجوی سفارشی */
.autocomplete-list {
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    top: 100%;
    margin-top: 0.25rem;
}

.autocomplete-item {
    padding: 0.5rem 0.75rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.autocomplete-item:hover {
    background-color: #f8f9fa;
}



/* استایل برای ایموجی‌ها */
.emoji-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.emoji {
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.emoji:hover {
    transform: scale(1.2);
}
